<template>
  <div>

    <div class="flex justify-between my-2 items-center py-4">
      <h2 class="text-2xl">This is a goods page</h2>

      <router-link :to="{ name: 'create' }"
                   class="inline-block text-white px-8 py-2 bg-blue-300 rounded-md hover:bg-blue-500 transition">
        Create
      </router-link>
    </div>

    <div class="grid grid-cols-5 gap-4">
      <div v-for="product in pagination"
           :key="product.id"
           class="block border border-gray-200 shadow flex flex-col justify-between rounded-md overflow-hidden transition hover:shadow-2xl">

        <router-link :to="{ name: 'product', params: { id: product.name } }" class="text-lg">
          <div>
            <img :src="product.images[0]" :alt="product.name" class="rounded-t-md">
          </div>
          <h2 class="text-center py-2 capitalize">{{ product.name }}</h2>
        </router-link>

        <div class="px-2 pb-2 mb-auto">
          <div class="pb-1">Price: {{ product.price }}$</div>
          <div class="text-sm">Category: {{ product.categories }}</div>

        </div>
        <div class="flex items-center">
          <div class="text-sm ml-2">Quantity: {{ product.quantity }}</div>
          <button @click="deleteProduct(product.name)"
                  type="button"
                  class="inline-block w-2/5 text-center ml-auto rounded-tl-lg py-2 text-sm text-white py-2 bg-red-300 hover:bg-red-500 transition">
            Delete
          </button>
        </div>

      </div>
    </div>

    <div>
      <!--      <div v-for="(page, key) in pages" :key="key" class="">{{page}}</div>-->
    </div>
  </div>
</template>

<script>
import {mapGetters, mapMutations} from 'vuex'

export default {


  computed: {
    ...mapGetters(['getGoods']),

    data: () => {
      return {
        limit: 9,
        pagination: {}
      }
    },

    // pages() {
    //
    //   return Math.ceil(this.getGoods.length / 10)
    // },

    // computedObj() {
    //   return this.getGoods.slice(0, 10)
    // }
  },

  mounted() {
    this.paginate(this.getGoods, 1, 10)
  },

  methods: {
    ...mapMutations(['deleteProduct']),

    paginate(array, currentPage, perPageItems) {
      let page = currentPage || 1,
          perPage = perPageItems || 10,
          offset = (page - 1) * perPage,

          paginatedItems = array.slice(offset).slice(0, perPageItems),
          totalPages = Math.ceil(array.length / perPage);

      this.pagination = {
        page: page,
        perPage: perPage,
        prevPage: page - 1 ? page - 1 : null,
        nextPage: (totalPages > page) ? page + 1 : null,
        total: array.length,
        totalPages: totalPages,
        data: paginatedItems
      };
    }
  }
}
</script>
