<template>
  <div class="flex flex-col items-center">
    <h2 class="text-4xl text-center my-14">Hello there!</h2>
    <router-link to="/goods"
                 class="capitalize inline-block text-2xl px-8 py-2 bg-blue-500 text-white rounded-md">
      to store
    </router-link>
  </div>
</template>

<script>


export default {
  name: 'Home',

}
</script>
