<template>
  <div class="py-6 my-4">
    <div class="">
      <div class="grid grid-cols-3 gap-4 rounded overflow-hidden">
        <img v-for="(image, key) in product.images"
             :key="key"
             :src="image"
             :alt="product.name"
             class="border-2 w-full shadow-md rounded-md">
      </div>
      <div class="flex">
        <div class="w-1/2">
          <h2 class="capitalize text-2xl py-2">{{ product.name }}</h2>
          <div class="text-sm">Category: {{ product.categories }}</div>
          <div class="py-2 tracking-wide">{{product.description}}</div>
          <div class="py-1">Price: {{ product.price }}$</div>
          <div class="text-sm">Quantity: {{ product.quantity }}</div>
        </div>
        <div class="flex justify-end items-end w-1/2">
          <router-link to="/goods"
                       class="block text-white px-8 py-2 bg-blue-300 rounded-md hover:bg-blue-500 transition">
            Go back
          </router-link>
          <router-link :to="{ name: 'edit', params: $route.params.id }"
                       class="block text-white px-8 py-2 bg-red-300 rounded-md hover:bg-red-500 transition ml-2">
            Edit
          </router-link>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  name: "Product",

  data: () => {
    return {
      product: {}
    }
  },

  created() {
    const product = this.getGoods.find(p => p.name === this.$route.params.id)
    if (product) this.product = product
  },

  computed: {
    ...mapGetters(['getGoods'])
  }
}
</script>