<template>
  <div>
    <form action="" @click.prevent="test">
      <input type="text" v-model="product.name">
      <input type="text" v-model="product.price">
      <button type="submit">Edit</button>
    </form>
  </div>
</template>

<script>
import {mapGetters, mapMutations} from 'vuex'

export default {
  name: "productEdit",

  data: () => {
    return {
      product: {
        name: '',
        price: ''
      },
    }
  },

  created() {
    const product = this.getGoods.find(p => p.name === this.$route.params.id)
    if (product) this.product = product
  },

  computed: {
    ...mapGetters(['getGoods'])
  },

  methods: {
    ...mapMutations(['editProduct', 'deleteProduct']),

    test() {
      this.editProduct(this.product)
    },

    deleteProducts() {
      this.deleteProduct(this)
    }
  }
}
</script>

<style scoped>

</style>