<template>
<div>Product create</div>
  <form action="" @submit.prevent="test" class="flex flex-col w-1/3">
    <input class="bg-blue-300 mt-2" type="text" v-model="product.name" name="name">
    <select class="bg-blue-300 mt-2" name="categories" v-model="product.categories" id="">
      <option value="some">Some</option>
      <option value="another">Another</option>
    </select>
    <textarea name="" cols="30" rows="10" v-model="product.description"></textarea>
    <input type="text" v-model="product.quantity">
    <input class="bg-blue-300 mt-2" type="text" v-model="product.price" name="price">

    <button class="bg-blue-300 mt-2" type="submit">Send</button>
  </form>
</template>

<script>
import {mapGetters, mapMutations} from "vuex";

export default {

name: "productStart",

  data: () => {
    return {
      product: {
        id: 12,
        name: 'new',
        categories: 'some',
        price: 12222,
        quantity: '',
        description: '',
        images: []
      }
    }
  },

  computed: {
    ...mapGetters(['getGoods']),
  },

  methods: {
    ...mapMutations(['addProduct']),

    test() {
      this.addProduct(this.product)
    }
  }
}
</script>

<style scoped>

</style>