<template>

  <div class="flex flex-col justify-between min-h-screen">

    <header class="border-b py-4">

      <div class="container">

        <div id="nav">

          <router-link to="/" class="capitalize inline-block">home</router-link>
          <router-link to="/goods" class="capitalize inline-block ml-2">goods</router-link>

        </div>

      </div>

    </header>

    <main class="mb-auto">

      <div class="container">

        <router-view/>

      </div>

    </main>

    <footer class="border-t">

      <div class="container text-center text-gray-600 py-4">

        some copyrights

      </div>

    </footer>

  </div>

</template>
